<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Registration Form</h2>
<form action="register" method="post">
{% csrf_token %}
<div class="contact-form">

      <input type="text" name="name" placeholder="Enter Your Name"><br>
      <input type="text" name="Date of Birth" placeholder="Enter Your date of birth"><br>
      <input type="text" name="Age" placeholder="Enter Your Age"><br>
      <input type="text" name="Gender" placeholder="Enter Your Gender"><br>
      <input type="text" name="Phone number" placeholder="Enter Your Phone number"><br>
      <input type="email" name="email" placeholder="Enter Your email address"><br>
      <input type="text" name="address" placeholder="Enter your address"><br>
      <input type="text" name="branch" placeholder="Enter your branch"><br>
      <input type="text" name="account" placeholder="Enter your account"><br>
      <input type="text" name="address" placeholder="Enter your address"><br>
        <select name="Materials to provide">
            <option value="Materials to provide">select materials</option>
            <option value="debit card">debit card</option>
            <option value="debit card">credit card</option>
            <option value="debit card">cheque book</option>


      <input type="submit">
      <input type="text">


{% for msg in messages %}
{{msg}}
{% endfor %}
 </form>
</body>
</html>